{% extends 'base.html' %}

{% block title %} Request Clean{% endblock %}


{% block body %}

<div class="p-5">
  <form action="/create-clean" method="POST">
      
    <div class="form-group">Address:
    
      <select name="address">
        {% for address in user.address %}
        <option value="{{ address.street }}">{{ address.street }}</option>
        {% endfor %}
      </select>
      <div class="text-center">
        <a class="small" href="/create_address">Add a new address</a>
      </div>
    </div>

      <div class="form-group">
        <input type="text" class="form-control form-control-user"
            placeholder="Tell me more about your request"
            id='clean_request' name="clean_request" required>
      </div>
    <input type="submit" class="btn btn-primary btn-user btn-block" value="Submit Request">
  </form>
</div>

{% endblock %}


<!-- 
Things to work on:
- How to implement this for users without an account
- Need a way to add address to database
- What happens on submit?
- How do I integrate scheduling?

-->