{% extends 'base.html' %}

{% block body %}
  <h1>
    Hello, {{ user.first_name }} <br>

    This is the customer page <br>
    
  </h1>

  <table style="width:100%">
    <tr>
      <th>Date</th>
      <th>Estimate</th>
      <th>Cleaner(s)</th>
      <th>Status</th>
    </tr>


    {% for job in user.customer_jobs %}
    <!-- figure out how to only surface jobs in the future -->
    <!-- create current time variable in route, and pass it through as a variable-->
    <tr>
      <td>{{ job.start_time }}</td>
      <td>$100</td>
      <td> 
        {% for employee in job.employees %}
          {% if loop.last %}
            {{ employee.first_name }}
          {% else %}
            {{ employee.first_name }},
          {% endif %}
        {% endfor %} 
      </td>
      <td>Confirmed</td>
    </tr>
    {% endfor %}
  
  </table>



  <!-- next step: add list of jobs in the past. Then allow ability to rate jobs -->


{% endblock %}