{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block navigation %}
<nav class="navbar navbar-expand-lg navbar-light" id="loginNav">
    <div class="container px-4 px-lg-5">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/customer">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/#signup">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="/create_account">New Customer</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block body%}
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form action="/handle-login" method="POST" class="user">
                                    <div class="form-group">
                                    <!-- to do: change type to "email" -->
                                        <input type="text" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address..."
                                            id='email' name="email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password"
                                            id="password" name="password" required>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Sign In">
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="/create_account">Create Account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
